{{!-- Article Card --}}
<div id="article-card">
    {{!-- Card Header --}}
    <div id="card-header">
        <a href="/blog/{{id}}" >
            <h2>{{title}}</h2>
        </a>
        <p>Posted by {{user_id}} on {{format_date date_created}}</p>
    </div>
    {{!-- Card Body --}}
    <div id="card-body">
        <p>{{body}}</p>
    </div>
</div>